/* ------------- */
/* CSS for DOXA  */
/* ------------- */

html, body {
	height: 100%;
  	margin: 0;
  	padding: 0;
	
}

h1 {
	font-size: 300%;
	text-align: center;
	font-family: 'Acme';
	font-weight: bold;
	margin: 30px;
}

button.btn {
	font-size: 125%;
	font-family: 'Acme';
}

/* ------------- */
/* - Index CSS - */
/* ------------- */
.main-wrapper {
	height: 100vh;
	background: -webkit-linear-gradient(top, #000000, #53346D);
	background: linear-gradient(top, #000000, #53346D);
	background-repeat: no-repeat;
	background-size: cover;
}

h1.gradient {
	background: -webkit-linear-gradient(top, #1565c0, #45B649);
	background: linear-gradient(top, #1565c0, #45B649);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

